services:
  admin-api:
    build: .
    ports:
      - '3000:3000'
    env_file:
      - .env
    volumes:
      - .:/app
    networks:
      - vtec_local_network

networks:
  vtec_local_network:
    external: true

