services:
  admin-api:
    build: .
    container_name: vtec_admin_api_local
    ports:
      - '3000:3000'
    env_file:
      - .env.local
    volumes:
      - .:/app
    networks:
      - local_network

networks:
  local_network:
    external: true
    name: infra-service_local_network

